<tr>
  <td><%= index_for publisher_counter , @publishers.current_page,
    Settings.item_per_page %></td>
  <td><%= publisher.name %></td>
  <td><%= publisher.address %></td>
  <td><%= publisher.email %></td>
</tr>
