@import "bootstrap-sprockets";
@import "bootstrap";

body {
 padding-top:50px;
}

#masthead {
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:50px;
    width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}


.btn {
  margin-top: 10px;
}

.reviews {
  li {
    list-style: none;
  }
}

.stats {
  text-align:center;
  text-shadow:1px 1px 0px #fff;
  margin-top:25px;

}
.stats li{
  width:125px;
}
.stats span{
  font-family:Helvetica;
  font-weight:bold;
  text-shadow:1px 1px 0px #fff;
  font-size:4em;

  display:block;
  line-height:1em;
}
